p {
    color: rgb(106, 17, 106);
    font-size: 20px;
    
}

h1 {
    background-color: rgb(236, 163, 190);
    border: 2px groove rgb(138, 11, 161);

}

h3 {
    border: 2px dotted rgb(15, 98, 181);

}

div {
    background-color: chartreuse;
    border: 2px groove rgb(109, 172, 15);
    padding: 15px;
    padding-bottom: 20px;
    margin: 50px;

}

div:hover {
    background-color: lavender;
    width: 100px;
    height: 100px;
    rotate: 45deg;
    font-size: 30px;

}

h1:hover {
    background-color: lavender;
}




/* bkgd color changes when hover */
/* space inside the border: padding */
/* space outside the border: margin */
/* background and border */
/* css: internal, external, in-line */